:root{
    background-color: black;
   
}
/* File header */
div.header{
    display: flex;
    justify-content: space-between;
    border: 3px solid gold;
    height: 15vh;
    align-items: flex-start;
    padding: 12px;
}
.header div:nth-child(1) img{
    width: 80px;
    height: 80px;
    border: 1px solid gold;
    border-radius: 4px;
    box-shadow: 2px 2px 10px white,-2px -2px 10px white;
}
.header div:nth-child(2){
    color: white;
    font-size: 1.25rem;
    margin: -3vh 25vw;
   text-shadow: 3px 3px 4px rgba(0, 140, 255, 0.829);
}

/* Form container */
.form_container{
    display: flex;
    height: 90vh;
    border: 3px solid red;
    background-color: rgba(231, 226, 226, 0.103);
   
}
.form_container .background{
    box-sizing: border-box;
    background-image: url("./Images/galaxy_background.jpg");
    width: 45vw;
    background-size: 45vw 90vh;
    background-repeat: no-repeat;
    box-shadow: 3px 3px 4px gray,-3px -3px 4px gray;
    
}

.form{
    box-sizing: border-box;
    padding: 12px;
    width: 55vw;
    border: 3px solid green;
}

.form div:nth-child(1){
    color: white;
    font-size: 1.15rem;
    text-shadow: 3px 3px 4px rgba(0, 140, 255, 0.829); 
    text-align: center;
}
p{
    padding: 0;
    margin: 1em;
    font-size: 1.1rem;
    text-align: center;
    color: rgba(255, 255, 0, 0.562);
}
.header p:nth-child(2){
    text-align: left;
    font-weight: bolder;
}