:root{
    background-color: black;
    box-sizing: border-box;
}
/* File header */
div.header{
    display: flex;
    justify-content: space-between;
    border: 3px solid gold;
    height: 15vh;
    align-items: flex-start;
    padding: 12px;
}
.header div:nth-child(1) img{
    width: 80px;
    height: 80px;
    border: 1px solid gold;
    border-radius: 4px;
    box-shadow: 2px 2px 10px white,-2px -2px 10px white;
}
.header div:nth-child(2){
    color: white;
    font-size: 1.25rem;
    margin: -3vh 25vw;
   text-shadow: 3px 3px 4px rgba(0, 140, 255, 0.829);
}

/* Form container */
.form_container{
    display: flex;
    height: 90vh;
    border: 3px solid red;
    background-color: rgba(231, 226, 226, 0.103);
   
}
.form_container div:nth-child(1){
    background-image: url("./Images/galaxy_back.jpg");
    width: 35vw;
    padding-right: 15rem;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 3px 3px 4px gray,-3px -3px 4px gray;
    
}
